<!DOCTYPE html>
<html>
<head>
    <title>Integration with NgModelController - using $render()</title>
    <link href="../../../../assets/bootstrap.min.css" rel="stylesheet"/>
    <script src="../../../../lib/jquery-1.10.2.js"></script>
    <script src="../../../../lib/angular.js"></script>
    <script src="../../../../lib/positioning.js"></script>
    <script src="popover.js"></script>

    <script type="text/javascript">
        angular.module('demo', ['bs.popover'])
                .controller('PopoverController', function ($scope) {
                    $scope.title = 'A title';
                    $scope.content = 'Some content that can be a bit longer';
                });
    </script>

</head>
<body ng-app="demo" ng-controller="PopoverController">

<div class="well" style="padding: 3%">
    <div class="form-group">
        <label for="title">Title: </label><input ng-model="title" id="title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="content">Content: </label><input ng-model="content" id="content" class="form-control" />
    </div>
</div>
<div class="well" style="padding: 3%">
    <button class="btn btn-default" bs-popover="{{content}}" bs-popover-title="{{title}}" bs-popover-placement="left">Left</button>
    <button class="btn btn-default" bs-popover="{{content}}" bs-popover-title="{{title}}" bs-popover-placement="top">Top</button>
    <button class="btn btn-default" bs-popover="{{content}}" bs-popover-title="{{title}}" bs-popover-placement="right">Right</button>
    <button class="btn btn-default" bs-popover="{{content}}" bs-popover-title="{{title}}" bs-popover-placement="bottom">Bottom</button>
</div>

</body>
</html>
