<!DOCTYPE html>
<html>
<head>
    <title>Integration with NgModelController - using $render()</title>
    <link href="../../../assets/bootstrap.min.css" rel="stylesheet"/>
    <script src="../../../lib/angular.js"></script>
    <script src="buttons-radio.js"></script>

    <script type="text/javascript">
        angular.module('demo', ['bs.buttons-radio'])
                .controller('ButtonsCtrl', function ($scope) {
                    $scope.model = 1;
                });
    </script>

</head>
<body ng-app="demo" ng-controller="ButtonsCtrl">

<pre>{{model | json}}</pre>

<div class="btn-group">
    <button type="button" class="btn btn-primary" ng-model="model" bs-btn-radio="0">Left</button>
    <button type="button" class="btn btn-primary" ng-model="model" bs-btn-radio="1">Middle</button>
    <button type="button" class="btn btn-primary" ng-model="model" bs-btn-radio="2">Right</button>
</div>

</body>
</html>